In [ ]:
pip install ftfy

Collecting ftfy
  Downloading ftfy-6.0.3.tar.gz (64 kB)
     |████████████████████████████████| 64 kB 1.6 MB/s
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from ftfy) (0.2.5)
Building wheels for collected packages: ftfy
  Building wheel for ftfy (setup.py) ... done
  Created wheel for ftfy: filename=ftfy-6.0.3-py3-none-any.whl size=41933 sha256=6e2c926134b78e0740c8ec53067d3a5278a0b6138c1858510f42c8bf725debf6
  Stored in directory: /root/.cache/pip/wheels/19/f5/38/273eb3b5e76dfd850619312f693716ac4518b498f5ffb6f56d
Successfully built ftfy
Installing collected packages: ftfy
Successfully installed ftfy-6.0.3

In [ ]:
pip install deep-translator

Collecting deep-translator
  Downloading deep_translator-1.5.5-py3-none-any.whl (30 kB)
Collecting click<9.0.0,>=8.0.1
  Downloading click-8.0.3-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 4.7 MB/s
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /usr/local/lib/python3.7/dist-packages (from deep-translator) (2.23.0)
Collecting beautifulsoup4<5.0.0,>=4.9.1
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 5.9 MB/s
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.1-py3-none-any.whl (37 kB)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from click<9.0.0,>=8.0.1->deep-translator) (4.8.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2021.10.8)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->click<9.0.0,>=8.0.1->deep-translator) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->click<9.0.0,>=8.0.1->deep-translator) (3.6.0)
Installing collected packages: soupsieve, click, beautifulsoup4, deep-translator
  Attempting uninstall: click
    Found existing installation: click 7.1.2
    Uninstalling click-7.1.2:
      Successfully uninstalled click-7.1.2
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 1.1.4 requires click<8.0,>=5.1, but you have click 8.0.3 which is incompatible.
Successfully installed beautifulsoup4-4.10.0 click-8.0.3 deep-translator-1.5.5 soupsieve-2.3.1

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
import ftfy

In [ ]:
from deep_translator import GoogleTranslator

In [ ]:
import string
import nltk
from nltk.corpus import stopwords
from textblob import TextBlob
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

In [ ]:
seed = 32

In [ ]:
pd.set_option('display.max_colwidth', None)

In [ ]:
ata_path = "/content/drive/MyDrive/GL/ATA/input_data.xlsx"
print(ata_path)

/content/drive/MyDrive/GL/ATA/input_data.xlsx

In [ ]:
def remove_whitespace(text):
  return text.strip()

In [ ]:
def convert_to_lowercase(text):
  return text.lower()

In [ ]:
def remove_punctuation(text):
    PUNCT_TO_REMOVE = string.punctuation
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

In [ ]:
def remove_digits(text):
  digits_rem = ''.join((x for x in text if not x.isdigit()))
  return digits_rem

In [ ]:
def remove_stopwords(text):
    STOPWORDS = set(stopwords.words('english'))
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

In [ ]:
def lemmetize_text(text):
  lemmatizer = WordNetLemmatizer()
  word_list = nltk.word_tokenize(text)
  lemmatized_output = ' '.join([lemmatizer.lemmatize(word) for word in word_list])
  return lemmatized_output

In [ ]:
def clean_mojibake(text):
  cleaned_mojibake = ftfy.fix_text(text)
  return cleaned_mojibake

In [ ]:
def translate_to_english(text):
  translated_text = GoogleTranslator(source='auto', target='english').translate(text)
  return translated_text

In [ ]:
def preprocess_text(text):
  text = remove_whitespace(text)
  text = clean_mojibake(text)
  text = convert_to_lowercase(text)
  text = remove_punctuation(text) 
  text = remove_digits(text)
  #text = translate_to_english(text)
  #text = remove_stopwords(text)
  #text = lemmetize_text(text)
  return text

In [ ]:
ata_data = pd.read_excel(ata_path)

In [ ]:
ata_data.head()

               Short description  ... Assignment group
0                    login issue  ...            GRP_0
1                        outlook  ...            GRP_0
2             cant log in to vpn  ...            GRP_0
3  unable to access hr_tool page  ...            GRP_0
4                   skype error   ...            GRP_0

[5 rows x 4 columns]

In [ ]:
ata_data.tail()

                                      Short description  ... Assignment group
8495                  emails not coming in from zz mail  ...           GRP_29
8496                           telephony_software issue  ...            GRP_0
8497  vip2: windows password reset for tifpdchb pedx...  ...            GRP_0
8498                     machine nÃ£o estÃ¡ funcionando  ...           GRP_62
8499  an mehreren pc`s lassen sich verschiedene prgr...  ...           GRP_49

[5 rows x 4 columns]

In [ ]:
ata_data.shape

(8500, 4)

In [ ]:
ata_data.isnull().sum()

Short description    8
Description          1
Caller               0
Assignment group     0
dtype: int64

There are some null values in Short Description & Description column and putting them in a different column for analysis purpose

In [ ]:
ata_data[ata_data['Short description'].isnull()]

     Short description  ... Assignment group
2604               NaN  ...           GRP_34
3383               NaN  ...            GRP_0
3906               NaN  ...            GRP_0
3910               NaN  ...            GRP_0
3915               NaN  ...            GRP_0
3921               NaN  ...            GRP_0
3924               NaN  ...            GRP_0
4341               NaN  ...            GRP_0

[8 rows x 4 columns]

In [ ]:
ata_data[ata_data['Description'].isnull()]

             Short description Description             Caller Assignment group
4395  i am locked out of skype         NaN  viyglzfo ajtfzpkb            GRP_0

In [ ]:
sd_null = ata_data[ata_data['Short description'].isnull()]
sd_null

     Short description  ... Assignment group
2604               NaN  ...           GRP_34
3383               NaN  ...            GRP_0
3906               NaN  ...            GRP_0
3910               NaN  ...            GRP_0
3915               NaN  ...            GRP_0
3921               NaN  ...            GRP_0
3924               NaN  ...            GRP_0
4341               NaN  ...            GRP_0

[8 rows x 4 columns]

Places where Short Description is null - replacing it with Description and vice versa.

In [ ]:
ata_data['short_desc_analysis'] = np.where(ata_data['Short description'].isnull(), ata_data['Description'], ata_data['Short description'])
ata_data['desc_analysis'] = np.where(ata_data['Description'].isnull(), ata_data['Short description'], ata_data['Description'])

In [ ]:
ata_data.isnull().sum()

Short description      8
Description            1
Caller                 0
Assignment group       0
short_desc_analysis    0
desc_analysis          0
dtype: int64

In [ ]:
ata_data[ata_data['Short description'].isnull()]

     Short description  ...                                      desc_analysis
2604               NaN  ...  \r\n\r\nreceived from: ohdrnswl.rezuibdt@gmail...
3383               NaN  ...  \r\n-connected to the user system using teamvi...
3906               NaN  ...  -user unable  tologin to vpn.\r\n-connected to...
3910               NaN  ...  -user unable  tologin to vpn.\r\n-connected to...
3915               NaN  ...  -user unable  tologin to vpn.\r\n-connected to...
3921               NaN  ...  -user unable  tologin to vpn.\r\n-connected to...
3924               NaN  ...  name:wvqgbdhm fwchqjor\nlanguage:\nbrowser:mic...
4341               NaN  ...  \r\n\r\nreceived from: eqmuniov.ehxkcbgj@gmail...

[8 rows x 6 columns]

In [ ]:
ftfy.fix_text('aktuell kÃ¶nnen keine rÃ¼ckmeldungen in EU_tool eingegeben werden. fehler "laufzeitfehler".')

'aktuell können keine rückmeldungen in EU_tool eingegeben werden. fehler "laufzeitfehler".'

In [ ]:
ftfy.fix_text('ç”µè„‘ç™»å½•å¯†ç å¿˜è®°ï¼Œé‡ç½®å¯†ç ã€‚')

'电脑登录密码忘记,重置密码。'

In [ ]:
ftfy.fix_text('skype error')

'skype error'

In [ ]:
to_translate = ftfy.fix_text('ç”µè„‘ç™»å½•å¯†ç å¿˜è®°ï¼Œé‡ç½®å¯†ç ã€‚')
translated = GoogleTranslator(source='auto', target='english').translate(to_translate)

print(translated)

If the computer login password is forgotten, reset the password.

In [ ]:
to_translate = ftfy.fix_text('aktuell kÃ¶nnen keine rÃ¼ckmeldungen in EU_tool eingegeben werden. fehler "laufzeitfehler".')
translated = GoogleTranslator(source='auto', target='english').translate(to_translate)

print(translated)

No feedback can currently be entered in EU_tool. error "runtime error".

In [ ]:
to_translate = ftfy.fix_text('ç”µè„‘ç™»å½•å¯†ç å¿˜è®°ï¼Œé‡ç½®å¯†ç ã€‚')
translated = GoogleTranslator(source='auto', target='english').translate(to_translate)

print(translated)

If the computer login password is forgotten, reset the password.

In [ ]:
ata_data['short_desc_analysis'] = ata_data['short_desc_analysis'].apply(preprocess_text)
ata_data['desc_analysis'] = ata_data['desc_analysis'].apply(preprocess_text)

In [ ]:
ata_data.head()

               Short description  ...                                                                                                                                                                                     desc_analysis
0                    login issue  ...  verified user detailsemployee  manager name\nchecked the user name in ad and reset the password\nadvised the user to login and check\ncaller confirmed that he was able to login\nissue resolved
1                        outlook  ...             received from hmjdrvpbkomuaywngmailcom\n\nhello team\n\nmy meetingsskype meetings etc are not appearing in my outlook calendar can somebody please advise how to correct this\n\nkind
2             cant log in to vpn  ...                                                                                                                    received from eylqgodmybqkwiamgmailcom\n\nhi\n\ni cannot log on to vpn\n\nbest
3  unable to access hr_tool page  ...                                                                                                                                                                      unable to access hrtool page
4                   skype error   ...                                                                                                                                                                                       skype error

[5 rows x 6 columns]

In [ ]:
ata_data.tail()

                                                           Short description  ...                                                                                                                    desc_analysis
8495                                       emails not coming in from zz mail  ...  received from avglmrtsvhqmtiuagmailcom\n\ngood afternoon\ni am not receiving the emails that i sent from zz mail\nplease advise
8496                                                telephony_software issue  ...                                                                                                          telephonysoftware issue
8497                      vip2: windows password reset for tifpdchb pedxruyf  ...                                                                                 vip windows password reset for tifpdchb pedxruyf
8498                                          machine nÃ£o estÃ¡ funcionando  ...                             i am unable to access the machine utilities to finish the drawers adjustment settings\nis no network
8499  an mehreren pc`s lassen sich verschiedene prgramdntyme nicht Ã¶ffnen.   ...                                                   an mehreren pcs lassen sich verschiedene prgramdntyme nicht öffnen bereich cnc

[5 rows x 6 columns]